@use './colors' as c;

@mixin offer-text-info {
	margin: 2em auto;
	padding: 2em;
	font-size: 1.4rem;
	line-height: 150%;
	letter-spacing: 2px;
	background-color: c.$white-color;
	border-radius: 10px;
	box-shadow: 0 0 8px rgba(0, 0, 0, 0.5);
	max-width: 1000px;
}

@mixin contact-icon {
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: c.$white-color;
	border-radius: 50%;
	box-shadow: 0 0 5px rgba(0, 0, 0, 0.5);
	width: 80px;
	height: 80px;
	font-size: 3.2rem;
	text-align: center;
	transition: box-shadow 0.3s, transform 0.5s, background-color .3s;
}

@mixin contact-icon-hover {
	box-shadow: 0 5px 20px rgba(0, 0, 0, 0.5);
	transform: translateY(-10px);
	background-color: c.$brown-color;
}

@mixin contact-items {
	display: flex;
	flex-direction: column;
	align-items: center;
	justify-content: center;
	gap: 1em;
	padding: 2em;
	text-align: center;
	font-size: 2rem;
	flex: 1 0 200px;
}


